

/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */

body::-webkit-scrollbar {
  display: none;
}

form .MuiFormControl-root {
  display: block;
  margin-bottom: .5rem;
}